body{ 
    background-color: rgb(3, 20, 69);

}
.container{
    width: 900px;
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
    box-shadow: 0 6px 6px rgb(255, 251, 0);
    border-radius: 20px;
    margin: auto;
}
h1{
    font-family: Helvetica ;
    font-size: 50px;
}
button{
    background-color: rgb(126, 102, 199);
    font-size: 20px; 
    border-radius: 10px;
    margin: 10px;
    height: 40px;
    box-shadow: 0 6px 6px rgb(0, 0, 0);
}
button:hover {
    background-color: rgb(255, 0, 195);
}
.input.section{
    margin: 20px 0;
}
input[type="text"]{
    width: 70%;
    height: 40px;

}
#clear-button{
margin-left:630px;
margin-bottom: 20px;
}
l{
    list-style: none;
}
ol {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background: #e6dddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    height: 35px;


    margin-left: 90px;
    
  }
  
  li span {
    flex-grow: 1;
    text-align: left;
  }
  
  li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }